EMAIL_FROM=
EMAIL_TO=
APP_PASSWORD=
ENABLE_EMAIL_ALERTS=
SSL_WARNING_DAYS=
VERBOSE=
DOMAIN_FILE=
DKIM_SELECTORS=selector1,selector2,google,default,hostingermail1,hostingermail2,hostingermail-a,hostingermail-b
